{extend name="main/main" /} {block name="main"}
<div class="layui-form layui-form-pane">
    <div class="layui-row">
        <div class="layui-col-xs9" id="search_data">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs3">
                    <div class="layui-form-item remove_margin reset_item">
                        <label class="layui-form-label">代码类型</label>
                        <div class="layui-input-block">
                            <select id="s|type">
                                <option value="0">HTML</option>
                                <option value="1">JS</option>
                                <option value="2">CSS</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <button class="layui-btn layui-btn-primary" onclick="compress();">压缩</button>
                </div>
            </div>
        </div>
        <div class="layui-col-xs3 layui-btn-group btn_group_right">
            <button class="layui-btn layui-btn-primary" onclick="reload();"><i class="layui-icon layui-icon-refresh"></i></button>
        </div>
    </div>
    <hr />
    <div class="layui-row layui-col-space12">
        <div class="layui-col-xs6">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">压缩代码</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入代码内容" class="layui-textarea" id="code" rows="12"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">压缩结果</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" id="info" rows="12"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/skin/js/develop/encode.js" type="text/javascript" charset="utf-8"></script>
{/block}